<div class="row border padding-20" *ngIf=item>
  <div class="col-md-4">
    <img [src]="item.photoUrl" alt="{{item.name}}" class="img-responsive"/>
  </div>
  <div class="col-md-8">
      <div class="item-details-row">
          
          <h1 class="item-title">{{item.name}}</h1>
          <div class="item-price">{{item.price | currency :'USD':true }}</div>
          <div class="item-description">{{item.description}}</div>
      </div>
      <div class="col-xs-4 pull-right border padding-20 amount-basket">
          <app-amount-control [amount]= itemAmount (amountChanged)="changeAmount($event)"></app-amount-control>
		  <span class="item-price">{{itemAmount * item.price | currency :'USD':true}}</span>
		  <div class="pull-right btn btn-primary btn-large" (click)="addItemtoBasket()">Add to cart</div>
      </div>
        



  </div>
</div>
