<div class="row" *ngIf=item>
  <div class="col-md-4">
    <img [src]="item.photoUrl" alt="{{item.name}}" class="img-responsive"/>
  </div>
  <div class="col-md-8">
      <div class="item-details-row">
          
          <h1 class="item-title">{{item.name}}</h1>
          <div class="item-price">{{item.price | currency :'USD':true }}</div>
          <div class="item-description">{{item.description}}</div>
      </div>
      <div class="col-xs-4">
          <app-amount-control [amount]= itemAmount (amountChanged)="changeAmount($event)"></app-amount-control>
      </div>
        <div class="col-xs-8"> <div class="pull-right btn btn-primary btn-large" (click)="addItemtoBasket()">Add to cart</div></div>



  </div>
</div>
